


body {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.header{
    background-color:#1A0B2E;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 10px 200px 10px 150px;
}
.logo{
    margin-top: 0;
    padding-top: 15px;
    color: white;
    font-weight: 600;
    font-size: 35px;
    
}
.gradient-logo{
    background: linear-gradient(
        90deg, 
        #F7E93F 0%, 
        #FB09B4 51%, 
        #9100F8 100% );
     background-size: 200% 100%;
    background-position: 0% 50%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    animation:gradient-slide 1s linear infinite alternate;
}
@keyframes gradient-slide {
    from {
        background-position: 0% 50%;
    }
    to {
        background-position: 100% 50%;
    }
}



.navbar a{
    text-decoration: none;
    color: aliceblue;
    padding: 10px;
}
.navbar a:hover{
    color:#c172f9;
}
.Subscribe-button a{
    text-decoration: none;
    color: aliceblue;
    display: inline-block;
    background: linear-gradient(
        90deg, 
        #F7E93F 0%, 
        #FB09B4 51%, 
        #9100F8 100%);
    padding: 6px 12px;
    border-radius: 50px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.Subscribe-button a:hover{
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.3);
}
.hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1; 
}


.hero-section {
    position: relative;
    height: 760px; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    text-align: center;
    overflow: hidden;
}
.hero-images {
    position: relative;
    z-index: 1;
}

.hero-circle {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
    z-index: 1;
}

.microphone {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 120px; 
    height: 200px;
    z-index: 2;
}


.hero-section h1 {
    color: #fff;
    font-size: 48px;
    margin: 0 0 20px 0;
}

.hero-section p {
    color: #fff;
    font-size: 18px;
    margin: 0 0 30px 0;
    line-height: 1.5;
}

.hero-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.button-left{
    text-decoration: none;
    color: aliceblue;
    background: linear-gradient(
        90deg, 
        #F7E93F 0%, 
        #FB09B4 51%, 
        #9100F8 100%);
    padding: 6px 12px;
    border-radius: 50px;
}
.button-right{
    text-decoration: none;
    color: rgb(52, 222, 52);
    padding: 6px 12px;
    border-radius: 50px;
    border: 2px solid rgb(46, 225, 46);
}
.about-the-podcast{
    background-color: #1A0B2E;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top:50px 200px 1px 200px;
}
.about-the-podcast h1{
    margin-top: 0;
}

.about-contents{
    justify-content: center;
    text-align: center;
    color: #fff;
    padding: 10px;
}
.stats{
    background-color: #1A0B2E;
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding:1px 200px 50px 200px;
}
.stats-divs{
    margin: 50px;
}
.stats-h1{
    color: greenyellow;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}
.stats-p{
    color: #fff;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}

.section-reasoning{
    background-color: #230E3D;
    height: 1120px;
    margin-top: 0;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-left: 200px;
    padding-right: 200px;

}
.reasoning-headline{
    color: #fff;
    opacity: 0.8;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.grid-layout>* {
    background-color: #351165;
    padding: 30px;
    gap: 20px;
    border-radius: 30px;
}
.grid-layout{
    margin-top: 50px;
    height: 750px;
    display: grid;
    gap: 20px;
    grid-template-areas:
    "grid-1 grid-2 grid-2"
    "grid-1 grid-3 grid-3"
    "grid-4 grid-4 grid-5";
}
.grid-1{
    grid-area: grid-1;
}
.grid-2{
    grid-area: grid-2;
}
.grid-3{
    grid-area: grid-3;
}
.grid-4{
    grid-area: grid-4;
}
.grid-5{
    grid-area: grid-5;
}
.grid-p{
    color: #fff;
    padding-bottom: 0px;
    opacity: 0.8;
    margin-top: 0;
}
.grid-h{
    color: #fff;
    margin-bottom: 5px;
}
.grid-div{
    align-items:flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.youtube-cards{
    height: 1270px;
    width: 100%;
    background-color: #230E3D;
    margin-top: 0;
    overflow: hidden;
}
.cards-title{
    text-align: center;
    font-weight: 800;
    font-size: 48px;
    color: #fff;
}
.all-video-cards {
    display: flex;
    gap: 30px;
    justify-content: center;
}
.card {
    width: 380px;
    height: 440px;
    display: flex;
    flex-direction: column;
    background-color: #351165;
    border-radius: 20px;
    overflow: hidden;
}
.youtube-banner{
    height: 50%;
    position: relative;
}
.youtube-banner iframe {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
}
.card-contents{
    color: #fff;
    padding-left: 15px;
    opacity: 0.8;
}
.host{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}
.alex-bro{
    background-color: #351165;
    height: 280px;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 40px;
    margin-top: 40px;
}
.div-alex-bio{
     display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.alex-er-dunia{
    border: 1px solid rgb(87, 88, 84);
    border-radius: 30%;
    padding: 2px;
}
.footer{
   background-image: url(./assets/footer-bg.png);
   background-position: center;
   background-size: 85%;
   overflow: hidden;
   width: 100%;
   height: 412px;
}
.ending-logo{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 70px;
    font-size: 70px;
    margin-bottom: 2px;
}
.footer-contents{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
}
.socials{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.socials-p{
    color: #F7E93F;
    padding-top: 13px;
}
.footer-copyrights{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    margin-top: 125px;
    opacity: 0.4;
}
